body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C1A064;
    font-family: 'Jost', sans-serif;
}

.profile{
  width: 800px;
  height: 750px;
  border: 0px solid;
  background-color: white;

  padding: 10px;
  justify-content:space-around;

}



#prof > div > a > i{
  font-size: 40px;
margin: 25px 730px ;
	color: black;
}

h1{
  font-size: 40px;
  margin-top: 20;
    text-align: center;
}

#prof > div > img{
  width: 150px;
  height: 150px;
  margin-top: 0px;
  margin-left: 325px;
}

.container-fluid{
padding-top: 10px;
}

input{
	width: 60%;
	height: 20px;
	background: #e0dede;
justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
